@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

main{
    background: #5f75ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    overflow: hidden;
    height: 100vh;
}

form{
    border-radius: 5px;
    padding: 20px;
    background: rgb(250, 251, 252);
    width: 25%;
    box-shadow: 5px 5px 15px #000;
}

h1{
    font-size: 1rem;
    border-bottom: 3px solid #5f75ee;
    margin-bottom: 10px;
    width: 7%;
}

.date{
    display: block;
}

select{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #5f75ee;
}

input{
    outline: none;
    border: 1px solid #5f75ee;
}

input:not([type=color]){
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

input[type=color]{
    margin-bottom: 10px;
}

button{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #5f75ee;
    color: #fff;
    font-weight: bold;
    border: 1px solid #5f75ee;
    outline: none;
}

a{
    text-decoration: none;
    color: #5f75ee;
}

a:hover{
    text-decoration: underline;
}